%tr
  %td
    = link_to "#{article.title}", admin_person_article_path(article.authors.first, article)
  %td
    = article.authors.first.name
  %td
    = article.date_published
  %td
    = article.pages
  %td
    = article.journal.title
  %td
    = article.issue_number
  %td
    = link_to "Edit", edit_admin_person_article_path(article.authors.first, article)
  %td
    = link_to "Delete", admin_article_path(article), data: { confirm: "Are you sure?"}, method: :delete
