= render_errors(@exhibition)

.span10
  = form_for [:admin, :gallery, build_media_for(@exhibition)] do |f|
    .grid-spacing
      %h4
        Exhibition Information
      = control_group(f, :text_field, :name)
      = control_group(f, :text_area, :description, {class: "span5", rows: "5"})
    .grid-spacing
      %h4 
        Organizer
      = f.select :person_id, Person.all.map {|p| [p.name, p.id] }, {}, {class: "chosen-subjects span5", data: {type: "chosen-select" }}

    .grid-spacing
      %h4
        Location
      = fields_for :location do |fl|
        = render "admin/partials/location_fields", f: fl

    = render "admin/partials/medium_fields", f: f, resource: @exhibition

    .grid-spacing
      = f.submit "Submit", class: "btn btn-primary"
