= render_errors(@artwork)

.span10.well
  = form_for [:admin, :person, @artwork] do |f|
    %div
      %h5 Artist
      = @artwork.artist.name
    %br

    = control_group(f, :text_field, :title)
    = control_group(f, :text_field, :medium)
    = control_group(f, :text_field, :dimensions)
    = render "admin/partials/date_picker", f: f, attr: "release_date"

    %br
    .control-group
      .controls
        = f.submit "Submit", class: "btn btn-primary"

