.row
  .span6
    .control-group
      = f.label :event_name
      %em Should be something short and descriptive, i.e. "death".
      .controls
        = f.text_field :event_name

    .control-group
      = f.label :start_date
      .controls
        .input-append.date
          = f.text_field :start_date, data: {plugin: "datepicker", date: "01-01-1880", :"date-viewmode" => "years", :"date-format" => "dd/mm/yyyy"}, class: "span2 start-date"
          %span.add-on
            %i.icon-calender
    .control-group
      = f.label :end_date
      %em This field is not always applicable, such as when recording a death.
      .controls
        .input-append.date
          = f.text_field :start_date, data: {plugin: "datepicker", date: "01-01-1880", :"date-viewmode" => "years", :"date-format" => "dd/mm/yyyy"}, class: "span2 end-date"
          %span.add-on
            %i.icon-calender
    .control-group
      = f.label :street_address
      .controls
        = f.text_field :street_address, placeholder: "Gare du Nord"

    .control-group
      = f.label :city
      .controls
        = f.text_field :city, placeholder: "Paris"

    .control-group
      = f.label :country
      .controls
        = f.text_field :country, placeholder: "France"

    .control-group
      = f.label :state
      %em (optional)
      .controls
        = f.text_field :state

    .control-group
      = f.label :province
      %em (optional)
      .controls
        = f.text_field :province
%hr

