= render_errors(@person)

.span10
  = form_for [:admin, build_media_for(@person)] do |f|

    .grid-spacing
      %h4
        Personal Information

      = control_group(f, :text_field, :name, {class: "span4", placeholder: "Pierre Boulez"})

      .control-group
        = f.label :sex, class: "control-label"
        .controls
          = f.select :sex, options_for_select([["Male", "M"], ["Female", "F"], ["Unkown", "U"], ["Other", "O"]], @person.sex.nil? ? "U" : @person.sex), class: "span2"

      = control_group(f, :text_area, :bio, {class: "span5", size: "14x10", placeholder: "Born in a small cave on the banks of the river seine, blah blah....and so forth"})
      = control_group(f, :text_field, :blurb, {class: "span4", size: "3x3", placeholder: "Composer, diletante"})

      .control-group
        = f.label :roles, class: "control-label"
        .controls
          %em 
            Add additional roles here
          %ul
            - Role.all.each do |role|
              %li
                = check_box_tag "person[role_ids][]", role.id, @person.roles.include?(role)
                = role.name

    = render "admin/partials/medium_fields", f: f, resource: @person

    .grid-spacing
      .control-group.info
        - if @person.new_record?
          %em.help-inline
            You may add more events after saving this record.
      .accordion#location-accordion
        %div
          %div{style: "margin-bottom: 0px"}
            %h4.pull-left.accordion-toggle{data: {toggle: "collapse", parent: "location-accordion", target: "#events"}}
              Locations and Events
              %i.icon-circle-arrow-down{style: "margin-left: 10px"}
          .clearfix
          %div#events.collapse
            = f.fields_for :locations do |builder|
              = render "admin/partials/location_fields", f: builder

      = link_to_add_fields("Add Location", f, :locations) unless @person.new_record?

    - if !@person.new_record? && @person.all_roles.include?("Writer")
      %div
        = link_to "Add an article", new_admin_person_article_path(@person)


    - if !@person.new_record? && @person.all_roles.include?("Artist")
      %div
        = link_to "Add a work of art", new_admin_person_artwork_path(@person)
    - if !@person.new_record? && @person.all_roles.include?("Dealer")
      .grid-spacing
        %h4
          Representees
        = f.fields_for :representations do |fr|
          = render "admin/partials/representation_fields", f: fr
        = link_to_add_fields("Add a representee", f, :representations)

    %br
    .control-group
      .controls
        = f.submit "Submit", class: "btn btn-primary"

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $startDates = $("input.start-date");
      $endDates = $("input.end-date");

      $startDates.datepicker();
      $endDates.datepicker();
    });
