= render_errors(@person)

.span10.well
  = form_for [:admin, @person] do |f|

    = control_group(f, :text_field, :name, {class: "span4", placeholder: "Pierre Boulez"})

    .control-group
      = f.label :sex, class: "control-label"
      .controls
        = f.select :sex, options_for_select([["Male", "M"], ["Female", "F"], ["Unkown", "U"], ["Other", "O"]], @person.sex.nil? ? "U" : @person.sex), class: "span2"

    = control_group(f, :text_area, :bio, {class: "span5", size: "14x10", placeholder: "Born in a small cave on the banks of the river seine, blah blah....and so forth"})
    = control_group(f, :text_field, :blurb, {class: "span4", size: "3x3", placeholder: "Composer, diletante"})

    .control-group
      = f.label :roles, class: "control-label"
      .controls
        %em 
          Add additional roles here
        %ul
          - Role.all.each do |role|
            %li
              = check_box_tag "person[role_ids][]", role.id, @person.roles.include?(role)
              = role.name
    %hr
    %div
      %h4 Locations and Events
      .control-group.info
        - if @person.new_record?
          %em.help-inline
            You may add more events after saving this record.
      = f.fields_for :locations do |builder|
        = render "admin/partials/location_fields", f: builder
 
      = link_to_add_fields("Add Location", f, :locations) unless @person.new_record?

    - if !@person.new_record? && @person.all_roles.include?("Writer")
      %hr
      %div
        = link_to "Add an article", new_admin_person_article_path(@person)

    %br 
    .control-group
      .controls
        = f.submit "Submit", class: "btn btn-primary"

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $startDates = $("input.start-date");
      $endDates = $("input.end-date");

      $startDates.datepicker();
      $endDates.datepicker();
    });
