%h2
  = @person.name
= link_to "Back", admin_people_path, class: "btn"
= link_to "Edit", edit_admin_person_path(@person), class: "btn btn-primary"
%div
  %div
    Snippet
    = @person.blurb
  %div
    Biography
    = @person.bio
  %div
    Birth
    = @person.birth.start_date
  %div
    Death
    = @person.death.start_date

- @person.roles.each do |role|
  = render "application/roles/#{role.name.downcase.to_s}" rescue nil
