%h2
  = @person.name
= link_to "Back", admin_people_path, class: "btn"
= link_to "Edit", edit_admin_person_path(@person), class: "btn btn-primary"
%hr
%br
%div
  %div
    %h4
      Brief Description
    = @person.blurb
  %div
    %h4
      Biography
    = @person.bio
  %div
    %h4
      Birth
    = @person.birth
  %div
    %h4
      Death
    = @person.death

- @person.roles.each do |role|
  = render "application/roles/#{role.name.downcase.to_s}" rescue nil
